header .header-black li.club-01{
    background-position-x: -20px;
}


header .header-black li.club-02{
    background-position-x: -65px;
}

header .header-black li.club-03{
    background-position-x: -111px;
}

header .header-black li.club-04{
    background-position-x: -157px;
}

header .header-black li.club-05{
    background-position-x:-207px;
}

header .header-black li.club-06{
    background-position-x:-970px;


}header .header-black li.club-07{
    background-position-x:-258px;


}header .header-black li.club-08{
    background-position-x:-306px;


}header .header-black li.club-09{
    background-position-x:-351px;


}header .header-black li.club-10{
    background-position-x:-395px;


}header .header-black li.club-11{
    background-position-x:-447px;


}header .header-black li.club-12{
    background-position-x:-498px;


}header .header-black li.club-13{
    background-position-x:-547px;



}header .header-black li.club-14{
    background-position-x:-597px;


}header .header-black li.club-15{
    background-position-x:-647px;

}

header .header-black li.club-16{
    background-position-x:-694px;
}

header .header-black li.club-17{
    background-position-x:-740px;
}


header .header-black li.club-18{
    background-position-x:-788px;
}

header .header-black li.club-19{
    background-position-x:-883px;
}

header .header-black li.club-20{
    background-position-x:-83px;
}

header .header-black li.club-21{
    background-position-x:-930px;
}

header .header-black li.club-22{
    background-position-x:-1026px;
}